<header>
    <a href="/">
        <div class="slogan">Drink at</div>
        <div class="site-name">
            <span class="star">★</span>
            <span class="logo">{{ siteName }}</span>
            <span class="star">★</span>
        </div>
    </a>
</header>
 