@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mynerve&family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Tilt+Neon&display=swap');

body {
    background-color: #faf8e8;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    flex-direction:column;
    min-height: 100vh;
    max-width: 700px;
    justify-content: flex-start;
    margin: auto;
}
a {
    text-decoration: none;
}
a:visited {
    color: initial;
}
.navbar {
    background-color: black;
    color: white;
    padding: 5px;
    display: flex;
    font-size: 12px;
    width: fit-content;
    margin-left: 400px;
    z-index: 5;
}
.navbar a {
    color: white;
}
.navbar a:hover {
    color: #cc0000;
    cursor: pointer;
}
.content {
    margin: 0 25px;
}
.slogan {
    font-family: 'Mynerve', cursive;
    font-size: 35px;
    transform: rotate(351deg);
    margin-left: -25px;
    margin-bottom: -35px;
    color: #cc0000;
}
.site-name {
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
}
.logo {
    font-family: 'Anton', san-serif;
    font-size: 208px;
}
.star {
    font-size: 55px;
}
h2 {
    font-family: 'Mynerve', cursive;
}
.entry-content {
    max-width: 750px;
}
.post-meta {
    font-size: 10px;
    margin-bottom: 10px;
    margin-top: -20px;
}
.signature {
    font-family: 'Mynerve', cursive;
    text-align: center;
    padding-left: 435px;
    font-size: 20px;
    transform: rotate(2deg);
    color: #cc0000;
}
.name {
    margin-top: -25px;
}
.cocktail-wrapper {
    display: flex;
    width: 100%;
    justify-content: left;
    margin-left: -350px;
}
.cocktail {
    transform: rotate(-5deg);
    width: 150px;
    z-index: -5;
    margin-top: -95px;
    margin-left: -25px;
}
.pour {
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(5deg);
    width: 272px;
    z-index: -5;
}
.drink-image {
    width: 100%;
}
.drink-feature {
    padding: 20px;
    background-image: url('/resources/img/background.png');
    background-size: 100% 100%;
    max-width: 700px;
    height: 380px;
}
.drink-feature h3 {
    margin: 0;
    padding: 20px;
    color: #cc0000;
}
.drink-info {
    display: flex;
}
.drink-feature a {
    text-decoration: none;
    color: black;
}
.drink-promo {
    font-family: 'Mynerve', cursive;
    flex-shrink: 1;
    padding: 15px 20px;
    width: 300px;
}
.drink-recipe {
    border-left: black solid 1px;
    padding: 0 20px;
}

@media only screen and (max-width: 500px) {
    body {
        overflow-x: hidden;
    }
    .navbar {
        margin-left: 250px;
    }
    .star {
        font-size: 35px;
    }
    .logo {
        font-size: 128px;
    }
    .slogan {
        margin-bottom: -28px;
        margin-left: -2px;
        font-size: 25px;
        transform: rotate(353deg);
    }
    .cocktail {
        padding-left: 0;
        width: 100px;
    }
    .cocktail-wrapper {
        margin: 0;
    }
    .content {
        width: 300px;
    }
    .pour {
        width: 175px;
        padding-top: 78px;
    }
    .signature {
        padding-left: 100px;
    }
    .drink-feature{
        background-image: url('/resources/img/background-mobile.png');
        background-size: 100% 100%;
        height: fit-content;
    }
    .drink-info {
        display: flex;
        flex-direction: column;
    }
    .drink-promo {
        width: 241px;
    }
    .drink-recipe {
        border-left: 0;
    }
}