{% include 'partials/_head.twig' %}
<div class="drink-of-the-month">
    <div class="drink-feature">
    {% for entry in craft.entries.section('drinkOfTheMonth').limit(1) %}
            {# <img class="drink-image" src="{{ entry.image.one().url }}"> #}
            <h3>{{ entry.title }}</h3>
            <div class="drink-info">
                <div class="drink-promo">
                    {{ entry.drinkPromo }}
                </div>
                <div class="drink-recipe">
                    {{ entry.recipe }}
                </div>
            </div>
    {% endfor %}
</div>
</div>
 